body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #ff9a9e, #fad0c4);
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.container {
    text-align: center;
}

.good-morning {
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInScale 2s ease-in-out forwards;
}

.good-morning:hover {
    color: rgb(228, 188, 10);
    transition: 0.5s;
    animation: 1s 0.5s linear;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}